.header{
    background-color: #212121;
    display: flex;
    align-items: center;
    flex-direction: row;
      font-family: "Khula";
      gap: 470px;
  grid-area: header;

}

.search-div{
    display: flex;

    flex-direction: row;
}

.search-image{
    display: flex;
    height: 40px;
        width: 40px;
        margin-right: 10px;
    margin-top: 5px;
    
    
}

.search-tb{
        display: flex;

      width: 75%;
  padding: 10px;
  border: none;
  border-radius: 20px;
        font-size: 25px;
  /* font-weight: bold; */
}

.right {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.right label {
  font-weight: 500;
  padding-top: 5px;
  white-space: nowrap;     
}