body {
  margin: 0;
  font-family: "Khula";
  background-color: #231F1F;
}

.song-stat-page {
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #231F1F;
}

.your-songs-container{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    background-color: #6B6767;
      border-radius: 10px;
      padding: 30px;
    display: flex;
    flex-direction: column;

}
.song-box{
    flex-direction: row;
    display: flex;
}
.your-song-label{
    color: white;
    font-size:30px;
    font-weight: bold;
}

.song-stat-page button{
  width: 20%;
  padding: 10px;
  background-color: #AD4545;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 0px;
  font-size: 20px;
  cursor: pointer;
}

.card-container {
  background-color: #5a5555;
  color: white;
  border-radius: 12px;
  padding: 24px;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.song-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  align-self: center;
}

.song-stat-page .song-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 40px;
  width: 100%;
  color: white;
}

.song-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.info-box {
  background-color: #00AAFF;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  gap: 16px;
  
}

.genre-div{
      display: flex;
  flex-direction: row;
  padding: 30px;
}

.genre{
    margin: 0px;
    white-space: pre; 
}

.left-info, .right-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.genre, .streams-label {
  font-size: 30px;
  font-weight: bold;
}

 .revenue-label {
  font-size: 30px;
  font-weight: bold;
  margin-top: 140px;
}

.streams-value, .revenue-value {
  font-size: 30px;
  font-weight: bold;
}