body {
  margin: 0;
  font-family: "Khula";
  background-color: #231F1F;
}

.upload-song-page {
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #231F1F;
}

.upload-song-container{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    background-color: #6B6767;
      border-radius: 10px;
      padding: 30px;
      display: flex;
    flex-direction: column;
    padding-bottom: 15px;

}

.upload-song-label{
    color: white;
    font-size:30px;
    font-weight: bold;
}

.label-container{
    display: flex;
    width: 100%;
}

.song-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  align-self: center;
}


.button-container{
    display: flex;
      justify-content: center;
  align-items: center;
  padding-top:50px;
  flex-direction: column;
}

.image-button{
    cursor: pointer;
    margin-top: 20px;
          height: 300px;
  width: 300px;
padding: 0 ;
}

.image-box{
    display: flex;
      /* height: 300px; */

}

.song-detail-box{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.song-info-box {
  background-color: #00AAFF;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  gap: 16px;
  margin-top: 20px;
  color: white;
      font-size:30px;
      width: 100%;
      padding-left: 40px;

}

.song-info-box input:not(.radio-button){
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
        font-size:30px;
  font-weight: bold;

}

.song-info-box label:not(.upload-option) {
  display: block;
  text-align: left;
  margin-top: 15px;
  font-weight: bold;
}


.upload-options {
  display: flex;
  gap: 20px;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 20px;
}

.upload-option{
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  line-height: 1;   /* Keeps vertical spacing tight */
}

.upload-option input[type="radio"] {
  transform: scale(1.5);      /* Makes radio bigger */
  vertical-align: middle;     /* Aligns with text */
  margin: 0;
}

.song-info-box button {
  width: 100%;
  padding: 10px;
  background-color: #AD4545;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  font-weight: bold;
  /* margin-top: 10px; */
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 10px;
}

.upload-button-box{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
        justify-content: center;
align-items: center;
/* gap: 10px; */
}
.upload-button-box button {
  width: 30%;
  padding: 10px;
  background-color: #AD4545;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  font-weight: bold;
  /* margin-top: 10px; */
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 10px;
}

.upload-button-box label{
    color: white;
    font-size:30px;
    font-weight: bold;
}

.tick-image{
    height: 60px;
        width: 60px;
    margin-top: -5px;

}

.button-div{
    display: flex;
    flex-direction: row;
    gap: 8px;
}