.body{
    background-color: #6B6767;
      margin: 0;
  font-family: "Khula";
}

.view-artist-page{
    background-color: #6B6767;
    /* padding:30px; */
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.view-artist-page .who-is-box{
    background-image: url('.//assets/googoodolls.jpg');
    background-size: cover;
      width: 100%;
  background-position: center;
  height: 200px;
  padding-top: 200px;
  padding-bottom: 0;
  padding-left: 30px;
display: flex;
flex-direction: row;
gap: 600px;
}

.who-is-box label{
    font-weight: normal;
}

.who-is-box h2{
    margin: 0px;
    width: 250px;
}

.who-is-box button{
  width: 20%;
  padding: 10px;
  background-color: #00AAFF;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  height: 50px;
  /* margin-top: 50px; */
}

.view-artist-page .bottom-box{
    padding: 30px;
    font-size: 40px;
    /* display: flex; */
}

.view-artist-page .song-bar{
    background-color: #00AAFF;
    color: white;
    padding: 10px;
    padding-left: 20px;
    border-radius: 30px;
    /* display: flex;
    flex-direction: column; */
    gap: 30px;
}

.view-artist-page .song-bar label{
    font-size: 20px;
    
}

.view-artist-page .song-bar .song-desc{
    padding-top: 10px;
}

.view-artist-page .song-bar img{
    padding: 10px;
}
.bottom-box button{
    margin-left: 600px;
}

.view-artist-page .play-btn-triangle{
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-top: 2px;
}

.play-button-border{
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}