.body{
    background-color: #6B6767;
      margin: 0;
  font-family: "Khula";
}

.history-page{
    background-color: #6B6767;
    padding:30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.history-page .song-box{
  margin-top: 20px;
}

.history-page .song-img{
  margin-left: 0;
  height: 90px;
  width: 90px;
}

.history-page .song-desc label{
  margin-left: 20px;
  font-size: 20px;
  padding-top: 5px;
}