/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.layout {
  display: grid;
  grid-template-columns: 160px 1fr 250px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "left-sidebar header right-sidebar"
    "left-sidebar main right-sidebar"
    "footer footer footer";
  height: 100vh;
    /* overflow: hidden; */
}

/* Grid areas */
.left-sidebar {
  grid-area: left-sidebar;
  /* background-color: #50e3c2; */
  /* padding: 20px; */
  /* color: white; */
}

.header {
  grid-area: header;
  /* background-color: #4a90e2; */
  /* padding: 20px; */
  /* text-align: center; */
  /* color: white; */
}

.right-sidebar {
  grid-area: right-sidebar;
  padding: 10px;
  color: white;
}

.main-content {
  grid-area: main;
  /* padding: 20px; */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
    background-color: #6B6767;
  /* width: 100%; */
  overflow-x: hidden;
}

.footer {
  grid-area: footer;
  color: white;
  text-align: center;
  /* padding: 20px; */

}